*{
	font-family: "verdana", sans-serif;
	font-size: 20px;
}

html{
	font-size: 3rem;
	scroll-behavior: smooth;
}
h2{
	font-size: 20px;
	color: yellow;
}
h1{
	color: black;
font-size: 2rem;
}

.Languages {
	font-size: 15px;
	font-style: arial black !important;
	background-color: #BCEBCB !important;
}

p{
	font-size: 15px;
	font-style:NONE
}
#external{
	text-transform: uppercase;
	color: yellow;

}
[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}
ul li{
	list-style-type: none ;
}
section img{
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
